{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<center>
  <div class="content-section">
    <div class="media">
      <div class="media-body">
        <h1 class="account-heading">Register</h1>
        <center>
            <div class="row">
                <div class="col-md-4 col-lg-offset-4">
                    {{ wtf.quick_form(form, submit, button_map={'submit':'success'}) }}
                </div>
            </div>
            <br><p>Already Signed Up? <a href="{{ url_for('auth.login') }}">Click here to Login!</a></p>
        </center>
      </div>
    </div>
  </div>
</center>
{% endblock %}
