{% extends "base.html" %}
{% block content %}
<center>
  <div class="content-section">
    <div class="media">
      <div class="media-body">
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h1 class="display-1 d-block">500</h1>
                        <div class="mb-4 lead"><h1>An unexpected error has occurred</h1>
                        <p>The administrator has been notified. Sorry for the inconvenience!</p></div>
                        <a href="{{ url_for('home') }}" class="btn btn-link">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</center>
{% endblock %}