@font-face {
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('fonts/ProductSans-Regular.woff') format('woff');
    }
    
body {
    font-family: 'Product Sans Regular';
    background-color: #5CB85C;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.hr1 {
    background-color: #5CB85C;
}

.bg-steel {
    background-color: #ffffff;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.sr-only {
    background-color: #f2f2f2;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 1200px;
}

.alert {
    width: 1200px !important;
    margin-top: 20px;
    margin: 0 auto;
}

#navBarSearchForm input[type=text] {
    width:1077px !important;
}

#stops_error_form input[type=text] {
    width:980px !important;
}

#input01 {
    background-image: url('/static/images/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 5px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 24px 24px;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
  
.media-body iFrame {
    height: 1000px !important;
    width: 1160px !important;
}

.column_d {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}  