{% extends "base.html" %}

{% block content %}
{% block styles %}
    {{super()}}
    <!-- Brings in Javascript that filters bus stops based on search results -->
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/search_filter_bus_stops.js') }}"></script>
{% endblock %}
<center>
  <div class="content-section">
    <div class="media">
      <div class="media-body">
        <!-- Creates search form for users to search for bus stops -->
        <input type="text" id="input01"
        onkeyup="search_stops()" placeholder="Find by searching for the name, location or code (last 5 digits only) of the stop...">
        <br>
        <!-- Creates a table that displays bus stops -->
        <table class="table table-sm" id="table01">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Stop ID</th>
            <th scope="col">Stop Name</th>
            <th scope="col">Location</th>
          </tr>
            <!-- Jinja IF statement pulls all database entries into table -->
            {% for s in stops %}
          <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.stop_id }}</td>
            <td>{{ s.stop_name }}</td>
            <td>{{ s.town }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</center>
{% endblock %}