<!DOCTYPE HTML>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% extends "base.html" %}
{% block content %}
<html>
  <center>
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h1 class="display-4">Credits</h1>
            <hr width="1200px">
            <center><h4>With thanks to</h4></center>
            <div class="column">
              <img src="{{ url_for('static', filename='images/wymetro_alt_transparent.png') }}" alt="WYM" height="60px" width="250px">
              <img src="{{ url_for('static', filename='images/first_bus_logo.png') }}" alt="FB" height="60px" width="250px">
              <img src="{{ url_for('static', filename='images/harrogate_bus_company.png') }}" alt="T" height="120px" width="250px">
              <img src="{{ url_for('static', filename='images/keighley_bus_company.png') }}" alt="C" height="120px" width="250px">
            </div>
            <div class="column_2">
              <img src="{{ url_for('static', filename='images/yorkshire_tiger.png') }}" alt="YT" height="120px" width="250px">
              <img src="{{ url_for('static', filename='images/arriva_yorkshire_transparent.png') }}" alt="AY" height="50px" width="250px">
              <img src="{{ url_for('static', filename='images/squarepeg_transparent.png') }}" alt="S" height="50px" width="250px">
              <img src="{{ url_for('static', filename='images/connexionsbuses_transparent.png') }}" alt="C" height="60px" width="250px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </center>
</html>
{% endblock %}