{% extends "base.html" %}
{% block content %}
<html>
{% block styles %}
  {{super()}}
  <!-- Brings in Javascript that filters network maps based on search results -->
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/search_filter_network_maps.js') }}"></script>
{% endblock %}
  <center>
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <!-- Creates search form for users to search for network maps -->
          <input class="form-control mr-sm-2" type="text" id="input01"
            onkeyup="search_network_maps()" placeholder="Find your timetable by searching the operator...">
          <br>
          <!-- Creates a table that displays network maps -->
          <table class="table table-sm" id="table01">
            <tr>
              <th scope="col">Filename</th>
              <th scope="col">Operator</th>
              <th scope="col">Download Link</th>
            </tr>
            <!-- Jinja IF statement pulls all database entries into table -->
            {% for operator in operators %}
            <tr>
              <td>{{ operator.name }}</td>
              <td>{{ operator.operator }}</td>
              <td><a class="btn btn-success btn-sm" href="{{ url_for('file_handlers.download_networkmaps', filename=operator.name) }}"
                              role="button">Download <span class="fas fa-file-download"></span></a></td>
            {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
  </center>
</html>
{% endblock %}