{% extends "base.html" %} <!-- Extending base template -->
<!-- Imports bootstrap wtf as the wtf variable -->
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
{% block content %}
<!-- Defines blocks that child templates can override -->
<html>
  <center>
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h1>Login to WYJP</h1>
                    <!-- Renders whole login form, rather than having separate fields -->
                    {{ wtf.quick_form(form, submit, button_map={'submit':'success'}) }}
                    <!-- Presents user with a link to register if they have not signed up -->
                    <br><p>New User? <a href="{{ url_for('auth.register') }}">Click here to Register!</a></p>
                </div>
            </div>
        </div>
  </center>
</html>
{% endblock %}